<!DOCTYPE html>
<html lang="es">
<head>
     <!--- META--->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Velas Artesanales - Aromáticas, Decorativas y Personalizadas">
  <meta name="description" content="Explora nuestra colección de velas artesanales: aromáticas, decorativas y personalizadas. Perfectas para relajación, meditación y regalos especiales.">
  <meta name="keywords" content="velas artesanales, velas aromáticas, velas decorativas, velas personalizadas, iluminación, bienestar, relajación">
  <meta name="author" content="mildestellos">
  <meta name="robots" content="index, follow">
    
  
  <title>Mil Destellos</title>
    <!--- favicon--->
    <link rel="icon" type="image/x-icon" href="../favicon.png">
    <!--- link CSS--->
    <link rel="stylesheet" href="../css/galeria.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    
    <header>
        
        
<!-------------------------------------------------------->
<!----------------------- NAVBAR ------------------------->                             
<!-------------------------------------------------------->
           
           

            <div class="container-navbar">
                <nav class="navbar container">
                  <li class="logo1"><img src="../assets/images/logo.png" alt="logo"></li>
                    <i class="fa-solid fa-bars"></i>
                    <ul class="menu" id="nav-menu">
                      
                     
                      
                       
                      <li><a href="../index.html">Inicio</a></li>
                       
                        <li><a href="../views/galeria.html">Productos</a></li>
                       
                        <li><a href="../views/contacto.html">Contacto</a></li>
                        
                        <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                        
                        <li><a href="../views/blog.html">Blog</a></li>
                      
                       
                
                    </ul>
                     
                    


                </nav>
            
            </div>


    </header>
    <section class="banner">
        <div class="content-banner">
            <p>Velas Artesanales</p>
            <h2>100% Natural <br />Aromáticas</h2>
            <a class="bt" href="./presupuesto.html">Pide tu Presupuesto</a>
        </div>
    </section>
    
    <div class="t2">
      <i class="fa-solid fa-seedling"></i>
      Velas de soja 100% artesanas
  
      <i class="fa-solid fa-fire"></i>
      Explora nuestros aromas</div>
    
    <!-------------------------------------------------------->
   <!-----------------------GALERIA ------------------------->                             
   <!-------------------------------------------------------->
    
      
      <div class="gallery-grid">
        <!-- Carrusel 1 -->
        
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/t1.jpg" alt="Carrusel 1 - Imagen 1">
          </div>
          <div class="carousel-title">Menta Eucalipto</div>
          
          
          

          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/t2.jpg" alt="Carrusel 1 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/t3.jpg" alt="Carrusel 1 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/t4.jpg" alt="Carrusel 1 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
        
        <!-- Carrusel 2 -->
       
       
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/c1.jpg" alt="Carrusel 2 - Imagen 1">
          </div>
          <div class="carousel-title">Citricos y Lavanda</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/c2.jpg" alt="Carrusel 2 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/c3.jpg" alt="Carrusel 2 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/c4.jpg" alt="Carrusel 2 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
        
        <!-- Carrusel 3 -->
        
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/q1.jpg" alt="Carrusel 3 - Imagen 1">
          </div>
          <div class="carousel-title">Jazmín</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/q2.jpg" alt="Carrusel 3 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/q3.jpg" alt="Carrusel 3 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/q4.jpg" alt="Carrusel 3 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
        
        <!-- Carrusel 4 -->
        
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/r1.jpg" alt="Carrusel 4 - Imagen 1">
          </div>
          <div class="carousel-title">Cereza</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/r2.jpg" alt="Carrusel 4 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/r5.jpg" alt="Carrusel 4 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/r4.jpg" alt="Carrusel 4 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
       
       
        <!-- Carrusel 5 -->
       
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/w1.jpg" alt="Carrusel 5 - Imagen 1">
          </div>
          <div class="carousel-title">Cookie</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/w2.jpg" alt="Carrusel 5 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/w3.jpg" alt="Carrusel 5 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/w4.jpg" alt="Carrusel 5 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
        
        
        <!-- Carrusel 6 -->
        
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/s1.jpg" alt="Carrusel 6 - Imagen 1">
          </div>
          <div class="carousel-title">Lavanda</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/s2.jpg" alt="Carrusel 6 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/s3.jpg" alt="Carrusel 6 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/s4.jpg" alt="Carrusel 6 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
      
        <!-- Carrusel 7 -->
       
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/k1.jpg" alt="Carrusel 7 - Imagen 1">
          </div>
          <div class="carousel-title">Avellana</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/k2.jpg" alt="Carrusel 7 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/k3.jpg" alt="Carrusel 7 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/k4.jpg" alt="Carrusel 7 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
       
        <!-- Carrusel 8 -->
        
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/a1.jpg" alt="Carrusel 8 - Imagen 1">
          </div>
          <div class="carousel-title">Ambar</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/a2.jpg" alt="Carrusel 8 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/a3.jpg" alt="Carrusel 8 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/a4.jpg" alt="Carrusel 8 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
        
        <!-- Carrusel 9 -->
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/v1.jpg" alt="Carrusel 9 - Imagen 1">
          </div>
          <div class="carousel-title">Vainilla</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/v2.jpg" alt="Carrusel 9 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/v3.jpg" alt="Carrusel 9 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/v4.jpg" alt="Carrusel 9 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
        
        <!-- Carrusel 10 -->
        
        
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/m1.jpg" alt="Carrusel 10 - Imagen 1">
          </div>
          <div class="carousel-title">Manzana</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/m2.jpg" alt="Carrusel 10 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/m3.jpg" alt="Carrusel 10 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/m4.jpg" alt="Carrusel 10 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
        
        <!-- Carrusel 11 -->
        
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/f1.jpg" alt="Carrusel 11 - Imagen 1">
          </div>
          <div class="carousel-title">Vainilla Magdalena</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/f2.jpg" alt="Carrusel 11 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/f3.jpg" alt="Carrusel 11 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/f4.jpg" alt="Carrusel 11 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
       
        <!-- Carrusel 12 -->
        
        <div class="carousel-block">
          <div class="main-image-container">
            <img src="../assets/images/g1.jpg" alt="Carrusel 12 - Imagen 1">
          </div>
          <div class="carousel-title">Caoba</div>
          
          
          <div class="modal">
            <span class="close-modal">&times;</span>
            <div class="modal-content">
              <button class="modal-prev">&#10094;</button>
              <div class="modal-track">
                <div class="modal-slide">
                  <img src="../assets/images/g2.jpg" alt="Carrusel 12 - Imagen 1">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/g3.jpg" alt="Carrusel 12 - Imagen 2">
                </div>
                <div class="modal-slide">
                  <img src="../assets/images/g4.jpg" alt="Carrusel 12 - Imagen 3">
                </div>
              </div>
              <button class="modal-next">&#10095;</button>
            </div>
          </div>
        </div>
      </div>
      
      
    
    
    
    <!-------------------------------------------------------->
   <!-----------------------FOOTER ------------------------->                             
   <!-------------------------------------------------------->
   <footer>
    <div class="container">
    
    
        <div class="row1">
            
       
                <ul> 
                    
                    <li><img src="../assets/images/logo.png" alt="logo"></li>
                    <li><i class="fa-solid fa-phone"> 663423333 </i></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i>pancomido@gmail.com</li>
                </ul>
        </div>
    
        <div class="row2">
        
            <h2>Redes Sociales</h2>            
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><i  class="fa-brands fa-facebook"></i>Facebook</a></li>
                    <li><a href="https://twitter.com/home?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i>Twitter</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
                </ul>
        </div>
     

         <div class="row3">
            
          <h2>  Sobre Nosotros </h2>
        
            <ul>
                <li><a href="./Index.html">Inicio</a></li>
                <li><a href="./galeria.html">Productos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./Presupuesto.html">Presupuesto</a></li>
                <li><a href="./Blog.html">Blog</a></li>
            </ul>
        </div>
    
    <div class="row3">
        
            <h2>  Otros </h2>
        
            <ul>
                <li><a href="#">Aviso Legal</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Política de coockies</a></li>
            </ul>
     </div>  
   
  </div>  
</footer>
    <script src="../js/galeria.js"></script>
  </body>
  </html>